<h1>Preprocess</h1>

In [1]:
from sklearn.model_selection import GridSearchCV, KFold, train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import make_scorer, mean_squared_error
from sklearn.preprocessing import LabelEncoder
from IPython.display import display
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

<h3>Label Encoding</h3>

In [14]:
# Initialize the LabelEncoder
label_encoder = LabelEncoder()

# Identify string columns
string_columns = challenge_set_df.select_dtypes(include=['object']).columns

# Create a copy of the DataFrame to avoid modifying the original
encoded_df = challenge_set_df.copy()

# Encode string columns
for col in string_columns:
    # Fit and transform the data for each string column
    encoded_df[col] = label_encoder.fit_transform(challenge_set_df[col].astype(str))

print("Original DataFrame:")
display(challenge_set_df)
print()
print("Encoded DataFrame:")
display(encoded_df)

Original DataFrame:

,adep,country_code_adep,ades,country_code_ades,aircraft_type,wtc,airline,flight_duration,taxiout_time,flown_distance,tow
0,EGLL,GB,EICK,IE,A320,M,a73f82288988b79be490c6322f4c32ed,61,18,321,54748.0
1,LEBL,ES,KMIA,US,B772,H,5543e4dc327359ffaf5b9c0e6faaf0e1,570,13,4193,185441.0
2,ESSA,SE,KORD,US,A333,H,8be5c854fd664bcb97fb543339f74770,554,15,3770,230396.0
3,LSZH,CH,KPHL,US,B788,H,5543e4dc327359ffaf5b9c0e6faaf0e1,497,11,3607,157615.0
4,EIDW,IE,EGLL,GB,A21N,M,a73f82288988b79be490c6322f4c32ed,55,14,305,70318.44722562577
...,...,...,...,...,...,...,...,...,...,...,...
369008,LFPG,FR,KMIA,US,B788,H,5543e4dc327359ffaf5b9c0e6faaf0e1,545,21,4046,163438.0
369009,LTFM,TR,EDDB,DE,A21N,M,6351ec1b849adacc0cbb3b1313d8d39b,158,25,946,78707.0
369010,EDDL,DE,EIDW,IE,A320,M,a73f82288988b79be490c6322f4c32ed,99,11,522,62942.75
369011,LFPG,FR,EIDW,IE,A21N,M,a73f82288988b79be490c6322f4c32ed,84,12,466,72611.16102357805
369012,LEMD,ES,KJFK,US,B772,H,5543e4dc327359ffaf5b9c0e6faaf0e1,453,16,3213,195373.0

Encoded DataFrame:

,adep,country_code_adep,ades,country_code_ades,aircraft_type,wtc,airline,flight_duration,taxiout_time,flown_distance,tow
0,67,36,76,33,4,1,20,562,10,2147,9449
1,210,32,161,76,18,0,10,519,5,3238,2949
2,133,86,164,76,7,0,18,501,7,2769,5629
3,328,19,165,76,21,0,10,438,3,2588,938
4,89,43,55,26,1,1,20,496,6,1970,11917
...,...,...,...,...,...,...,...,...,...,...,...
369008,245,35,161,76,21,0,10,491,14,3075,1257
369009,374,94,13,18,1,1,14,65,18,5838,12925
369010,29,26,77,33,4,1,20,826,3,4372,10768
369011,245,35,77,33,1,1,20,805,4,3756,12261
369012,216,32,158,76,18,0,10,390,8,2151,3615

In [5]:
display(challenge_set_df)

,adep,country_code_adep,ades,country_code_ades,aircraft_type,wtc,airline,flight_duration,taxiout_time,flown_distance,tow
0,67,36,76,33,4,1,20,53,18,296,2142
1,210,32,161,76,18,0,10,562,13,3876,9111
2,133,86,164,76,7,0,18,546,15,3453,11710
3,328,19,165,76,21,0,10,489,11,3290,7136
4,89,43,55,26,1,1,20,47,14,280,4610
...,...,...,...,...,...,...,...,...,...,...,...
369008,245,35,161,76,21,0,10,537,21,3729,7446
369009,374,94,13,18,1,1,14,150,25,921,5618
369010,29,26,77,33,4,1,20,91,11,497,3461
369011,245,35,77,33,1,1,20,76,12,441,4954
369012,216,32,158,76,18,0,10,445,16,2896,9760

In [ ]:
for column in challenge_set_df.columns:
    print(f"Processing {column}")
    for v in challenge_set_df[column].values:
        if type(v) != np.int64:
            print("Not valud Value found:", v, ", having type:", type(v))

        if v < 0:
            print("Value:", v, " is smaller than 0")

        if np.isinf(v):
            print("Value:", v, "is infinite")

<h1>Prepare for Grid Search</h1>

In [ ]:
# Pick up features from dataset
features = challenge_set_df[['adep', 'country_code_adep', 'ades', 'country_code_ades', 'aircraft_type', 'wtc', 'airline']]

# Pick up target from dataset
target = challenge_set_df['tow']

# Function to score model using Root Mean Square Error
def rmse(y_true, y_pred):
    return np.sqrt(((y_true - y_pred) ** 2).mean())
    
# Create a scorer
rmse_scorer = make_scorer(rmse, greater_is_better=False)

# Make cross validation strategy
cv_strategy = KFold(n_splits=5, shuffle=True, random_state=123)

# Function to print the best parameters and best RMSE score after tunning
def print_model_score(grid_search):
    print("Best Parameters:", grid_search.best_params_)
    print("Best Score (Negative Mean Squared Error):", grid_search.best_score_)

<h1>Grid Search using DecisionTreeRegressor()</h1>

In [ ]:
param_grid = {
    'max_depth': [10, 20, 30, 40, 50],
    'min_samples_split': [1, 2, 4, 6, 8],
    'min_samples_leaf': [1, 2, 3],
    'max_features': [None, 'sqrt'],
    'criterion': ['squared_error', 'friedman_mse'],
    'ccp_alpha': [0, 0.001, 0.005]
}

# Set up GridSearchCV with custom scoring
grid_search = GridSearchCV(
    estimator=DecisionTreeRegressor(random_state=123), 
    param_grid=param_grid, 
    scoring=rmse_scorer, 
    cv=cv_strategy, 
    n_jobs=-1, 
    verbose=1
)

grid_search.fit(features, target)

print_model_score(grid_search)

<h1>Grid Search using RandomForestRegressor()</h1>

In [ ]:
param_grid = {
    'ccp_alpha': [0.001], 
    'criterion': ['squared_error'], 
    'max_depth': [30], 
    'max_features': [None], 
    'min_samples_leaf': [2], 
    'min_samples_split': [8],
    'n_estimators': [20, 40, 60, 80, 100],
    'bootstrap': [True, False]
}

# Set up GridSearchCV with custom scoring
grid_search = GridSearchCV(
    estimator=RandomForestRegressor(random_state=123), 
    param_grid=param_grid, 
    scoring=rmse_scorer, 
    cv=cv_strategy, 
    n_jobs=-1, 
    verbose=1
)

grid_search.fit(features, target)

print_model_score(grid_search)

<h1>Predicting using the tunned parameters of RandomForestRegressor()</h1>

In [ ]:
# Function to plot an example prediction with the tunned parameters
def plot_rmse(observed, predicted, show_error=False):
    # Calculate errors
    errors = observed - predicted
    squared_errors = errors**2
    mse = np.mean(squared_errors)
    rmse = np.sqrt(mse)
    
    # Create a plot
    plt.figure(figsize=(10, 6))
    
    # Plot the observed and predicted values
    plt.plot(observed, 'o', label='Observed Values')
    plt.plot(predicted, 'o', label='Predicted Values')
    
    # Plot the errors
    for i in range(len(observed)):
        plt.plot([i, i], [observed[i], predicted[i]], 'r--')
        if show_error:
            plt.text(i, (observed[i] + predicted[i]) / 2, f'{errors[i]:.1f}', ha='right', color='red')
    
    # Adding labels and title
    plt.xlabel('Data Points')
    plt.ylabel('Values')
    plt.title('Visualizing RMSE Calculation')
    plt.legend()
    plt.grid(True)
    
    # Show RMSE in the plot
    plt.text(1.5, max(observed) - 1, f'RMSE = {rmse:.3f}', fontsize=12, color='blue')

    plt.xticks([])
    plt.show()

In [ ]:
# Function to predict and check for maximum take-off weight
def predict_within_weight_limitation(model, X):
    y_pred = model.predict(X)
    le = LabelEncoder()
    for index, prediction in enumerate(y_pred):
        print(index)
        print(prediction)
        print(type(X))
        print(X.iloc[index]['aircraft_type'])
        
        decoded_labels = le.inverse_transform(X.iloc[index]['aircraft_type'])
        print("Decoded labels:", decoded_labels)
        break

predict_within_weight_limitation(model, X_test)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.2, random_state=123, shuffle=True)

model = RandomForestRegressor(
    bootstrap=True,
    ccp_alpha=0.001,
    criterion='squared_error',
    max_depth=30,
    max_features=None,
    min_samples_leaf=2,
    min_samples_split=8,
    n_estimators=100,
    random_state=123
)

model.fit(X_train, y_train)

y_pred = model.predict(X_test)

In [ ]:
random_indices = np.random.choice(X_test.index, size=100, replace=False)

X_test_sampled = X_test.loc[random_indices]
y_test_sampled = y_test.loc[random_indices]

y_pred_sampled = model.predict(X_test_sampled)

plot_rmse(observed=np.array(y_test_sampled), predicted=np.array(y_pred_sampled), show_error=False)

In [ ]:
random_indices = np.random.choice(X_test.index, size=10, replace=False)

X_test_sampled = X_test.loc[random_indices]
y_test_sampled = y_test.loc[random_indices]

y_pred_sampled = model.predict(X_test_sampled)

plot_rmse(observed=np.array(y_test_sampled), predicted=np.array(y_pred_sampled), show_error=True)